click
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
login
MarkupSafe
SQLAlchemy
visitor
Werkzeug
WTForms
razorpay
gunicorn
chatterbot

